/* font-size */

/* font-family */
$font-family-main: "PingFang SC";

/* color */
$font-color-primary: #ffffff; //主要颜色(default)
$font-color-secondary: #f9f9fb; //次要字体颜色
$font-color-active: #00ffff;
$backgroud-color-active: #2280ff;
$backgroud-color-dark: #222937;
$backgroud-color-dark2: rgba(51, 60, 76, 0.85);

$icon-color-primary: #b4bed2;
$icon-color-secondary: #e1e6f0;
$icon-color-active: #b4dcff;
$bg-color-hover: #f6f8fc;

/* placeholder */
$placeholder-color: #999999;
@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &::-moz-input-placeholder {
    color: $placeholder-color;
  }

  &::-ms-input-placeholder {
    color: $placeholder-color;
  }
}
